<p>----------------input works2!-------------------------</p>

<div>select network : {{radio}}</div>
<input type="radio" [(ngModel)]="radio" value="main">{{radio_main}}
<input type="radio" [(ngModel)]="radio" value="test">{{radio_test}}


<p>addreess input : {{l_address}}</p>

<p>num : {{this.restApiService.num}}</p>

<div>
    <label id="new-hero">address: </label>
    
    <!--
    <input for="new-hero" #address/>
    <button class="add-button" 
        (click)="check(address.value); address.value=''"
        routerLink="/output" >check</button>
    -->
    <input id="hero-name" 
        [(ngModel)]="l_address" 
        placeholder="address" >

    <button class="add-button" 
        (click)="check(l_address); "
        routerLink="/output" >check</button>

    <button class="add-button" 
        (click)="check2(l_address); "
        routerLink="/output" >check2</button>
</div>

<p></p>

<div>    
    get Accounts from default node
    <button class="add-button" 
    (click)="getAccounts()" >
    accounts</button>
</div>

<div>    
    set default address
    <button class="add-button" 
    (click)="settxt()" >set</button>
</div>

<div>    
    <button class="tx" (click)="tx()" >tx</button>
</div>

<div>    
    <button class="tx_sample" (click)="tx_sample()" >tx_sample</button>
</div>

<!--  双方向バインディング、入力欄に予め表示される。
<div>
    <label for="hero-name" >Hero name: </label>
    <input id="hero-name" 
        [(ngModel)]="hero.name" 
        placeholder="name">
</div>
-->