<p>----------------input works2!-------------------------</p>

<p>addreess input : {{addressX}}</p>

<p>num : {{numx}}</p>

<p>symbol address acount: {{symbolAddress}}</p>

<p>address importance: {{imp}}</p>

<p>address publicKey: {{publicKey}}</p>

<!--
<div>
    <label id="new-hero">address: </label>
    <input for="new-hero" #address/>
    <button class="add-button" 
        (click)="check(address.value); address.value=''"
        routerLink="/output" >check</button>
</div>
-->

<div>
    <label id="new-hero">address: </label>
    <input for="new-hero" #address/>
    <button class="add-button" 
        (click)="check(address.value); address.value=''"
        >check</button>
</div>


<div>    
    <h5>getAccounts</h5>
    <button class="add-button" 
    (click)="getAccounts()" >
    accounts</button>
</div>



<div>    
    <button class="add-button" 
    (click)="settxt()" >set</button>
</div>

<div>    
    <button class="tx" 
    (click)="tx()" >tx</button>
</div>

<!--  双方向バインディング、入力欄に予め表示される。
<div>
    <label for="hero-name" >Hero name: </label>
    <input id="hero-name" 
        [(ngModel)]="hero.name" 
        placeholder="name">
</div>
-->